<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Notifications</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-8zJZoBf+RsRGJ78J6zibfKdj3RfgM8e3/jwP6I8g5zoIyBwLm+bAB08jMng/FtJxMZdId5qkl7K9OQBCYR1mVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <ul id="notifications"></ul>
    <script>
        var socket = io();
        socket.on('notification', function(message){
            var li = document.createElement('li');
            li.textContent = message;
            document.getElementById('notifications').appendChild(li);
        });
    </script>
</body>
</html>